
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment (incluindo .venv)
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry specific
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de imagem (opcional, se gerado automaticamente)
banner.png
